# Application
NODE_ENV=development
APP_NAME=LearnDojoWorld

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/learndojoworld?schema=public"

# Cache
REDIS_URL="redis://localhost:6379"
